extends layout

block content
  h1 Get It Together
  p.lead Ask for more than just a toaster
  hr
  h2.text-center Find a Registry
  form.form-horizontal(action='/registry/search', method='GET')
    .form-group
      .col-sm-3
      .col-sm-6
        .input-group.input-group-lg
          .input-group-btn
            button.btn.btn-default
              i.fa.fa-search
          input.form-control(type='text', name='search', id='search', placeholder='Search for a registry')